  *, *::after, *::before{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
    }
    
    html{
    
        scroll-behavior: smooth;
    }
    
    body{
        font-family: "Epilogue", sans-serif;
        min-width: 100dvw;
        height: 100dvh;
        margin: 0 auto;
        background-color: hsl(0, 0%, 98%);
    }
    
    :root{
        --select : pointer;
    }
    
    .arrowUp{
        transform: rotate(180deg);
    }
    
    /* @media screen and (min-width:375px){
        #sidebar{
            width: 40vw;
        }
    } */
    #mobile-view, #mobile-nav{
        display: none;
    }
    
    
    @media (max-width:980px){
        body{
            max-width: 100dvw;
            min-height: 100dvh;
        }
    
        #mobile-nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 35px auto;
            background-color: white;
            padding: 0 20px;
        }
    
    #mobile-nav ul{
        cursor: var(--select)
    }
        #hero-page{
            width: 100%;
        }
    
        #mobile-sidebar-backg{
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            background-color: rgba(0%, 0%, 0%, 0.5);
        }
    
        #mobile-sidebar{
            width:65dvw;
            height: 100%;
            right: 0;
            position: absolute;
            background-color: white;
            overflow-y:scroll;
            scrollbar-width: none;
            padding-bottom: 300px;
        }
    
       
    
        #mobile-content{
            height: 100%;
            margin: 12px 15px 15px 40px;
            font-weight: 500;
        }
    
        #mobile-cancel-btn{
            display: flex;
            justify-content: flex-end;
            padding: 15px 0;
        }
    
        .show-list-item{
            display: block;
        }
        
        .tabs{
            margin: 35px 0;  
            color: hsl(0, 0%, 41%);
        }
        #mobile-content li .tabs{
            font-size:  1.2rem;
        }
    
        #mobile-content li .sub-tab{
            font-size: 0.895rem;
            margin: 0;
        }
        .tabs .drop{
            height: 0.6em;
            margin-left: 12px;
        }
    
    
        #mobile-btn-grp .btn{
            padding: 18px 50px;
        }
    
        #mobile-reg-btn{
            border: 2px solid hsl(0, 0%, 41%);
            border-radius: 15px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    
        #mobile-reg-text{
            margin: 0;
           
        }
        
        .items{
            margin-top: 15px;
            margin-left: 2rem;
            display: none;
            font-size: 1.2rem;
        }
    
        .items li{
        padding: 4px 0;
        }
    
        .to-flex{
            display: flex;
            align-items: flex-end;
        }
    
        .items li:not(:last-child){
            margin-bottom: 18px;
        }
        .items img{
            height: 1.08em;
            margin-right: 10px;
          
        }
    
        header{
            width: 100%;
        }
        #mobile-view{
            display: block;
            margin: 0 auto;
        }
    
        #mobile-view img{
            width: 100%;
        }
    
        main{
            text-align: center;
            margin-top: 40px;
            padding: 0 1.5rem;
         
        }
    
        main h1{
            display: inline;
            font-weight: 900;
            font-size: 1.8rem; 
            width: 100%;
        }
    
        main h1 span{
            margin-left: 2px;
        }
        
    
        main p{
            font-size: 0.765rem;
            line-height: 1.5;
            font-weight: 600;
            margin:25px auto 0;
            /* width: 70%; */
            color: hsl(0, 0%, 41%);
            width: 80%;
            text-align:center;
         
        }
    
        #more-btn{
            padding: 1.2em 3em;
            font-size:0.825rem;
            border-radius: 15px;
            border:none;
            background-color: black;
            color: hsl(0, 0%, 98%);
            margin: 20px 0 40px;
        }
    
        #more-btn:hover{
            background-color: hsl(0, 0%, 98%);
            border: 2px solid black;
            color: black;
            font-weight: 500;
        }
    
        #sponsors{
            margin: 10px auto;
            display: flex;
            height: 70px;
            width: 100%;
            justify-content: space-around;
            align-items: flex-end;
        }
    
        #sponsors li{
            box-sizing: border-box;
           height: 2.5em;
           max-width: 20%;
           align-items: center;
           justify-content: center;
        }
    
        #sponsors li img{
            object-fit: fill;
    
        }
        #desktop-nav, #desktop-view{
            display: none;
        }
    
        #sponsors li img{
            height: 100%;
            width: 100%;
            padding: 15px 4px 0;
        }
    
        #sponsors li:first-child img{
            padding-left: 0;
        }
    }
    
    @media (min-width:1000px){
        body{
            font-family: "Epilogue", sans-serif;
            max-width: 100dvw;
            min-height: 100dvh;
            background-color: hsl(0, 0%, 98%);
            padding: 0 2%;
            overflow-x:hidden;
        }
       
        #desktop-nav{
            display: flex;
            margin: 0.25em 1em;
            height: 3rem;
            font-weight: 400;
        }
    
        #desktop-logo{
            margin-right: 2em;
            height: 50%;
            width: 8%;
            align-self: center;
            cursor: var(--select)
        }
    
        #desktop-right-wing{
            margin-left: auto;
        }
    
        #desktop-nav > ul{
          
            display: flex;
            width: 100%;
            align-items: center;
            color: hsl(0, 0%, 41%);
            gap: 2%;
            position: relative;
            cursor: var(--select)
        }
    
       .tab{
            font-size: 0.85rem;
            color: hsl(0, 0%, 41%);
            font-weight: 700;
            margin: 5px 15px;
        }
    
        .tab:hover{
            color: hsl(0, 0%, 8%);
        }
    
    
        .arrow{
            height: 0.5em;
            margin-left:10px;
        }
    
        .arrow:hover{
            color: hsl(0, 0%, 8%);
        }
    
        #desktop-reg-btn{
            padding: 1em 2em;
            border-radius: 10px;
            cursor: var(--select)
        } 
    
        #desktop-reg-btn:hover{
            border: 2px solid  hsl(0, 0%, 8%);
            border-radius: 1em;
        }
    
        .pop-out{
            display: flex;
            flex-direction: column;
            position:absolute;
            z-index: 999;
            background-color: white;
            border-radius: 15px;
            margin: 15px 0;
            box-shadow: -6px 7px 24px -4px rgba(0,0,0,0.75);
            -webkit-box-shadow: -6px 7px 24px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: -6px 7px 24px -4px rgba(0,0,0,0.75);
            padding: 10px 25px;
           
        }
    
        .pop-out li a{
            box-sizing: border-box;
            color: hsl(0, 0%, 41%);
            font-weight: 500;
            font-size: .625rem;
        }
      
        .pop-out li{
            position: relative;
            display: flex;  
            text-align: center;
            align-items: center;
            padding: 0.1em;
        }
    
        .pop-out li img{
            margin-right: 8px;
            width: 1.2rem;
            height: 1.2rem;
            padding: 2px;
        }
    
        #features-info-desktop {
            right: 15px;
        }
    
        #company-info-desktop{
            /* padding: 25px 40px; */
            left: 1px;
        }
        #company-info-desktop li{
            margin: 5px 0;
        }
    
        .features, .company{
            position: relative;
        }
    
        #features-info-desktop, #company-info-desktop{
            display: none;
        }
    
        .show-list-item{
            display: flex;
        }
    
        #hero-page{
            display: flex;
            flex-direction: row-reverse;
            /* max-width: 80%; */
            margin: 4rem 0 0 8vw;
            justify-content: space-between;
            height: 32rem;
           
            gap: 40px;
            margin-right: 10%;
        }
    
        #desktop-view{
            width: 50%;
            padding: 0 3em 0 2em;
            height: 100%;
        }
    
        #desktop-view img{
            width: 100%;
            height: 100%;
        }
        #mobile-view{
            display: none;
        }
    
        main{
            width: 45%;
            display: flex;
            flex-direction: column;
            
        }
       
        header{
            margin: 3rem 0 0 0;
            margin-right: 2rem;
        }
    
        header h1{
        display: block;
        font-weight: 700;
        font-size: 4.25rem;
        line-height: 1;
        
        }
    
        header h1 span{
            display: block;
        }
    
        header p{
        font-size: 0.875rem;
        font-weight: 600;
        margin: 2em 0;
        line-height: 1.5;
        color: hsl(0, 0%, 41%);
        width: 45ch;
       
        }
    
        header #more-btn{
            padding:1em 2em;
            font-size: 0.875rem;
            font-weight: 600;
            border-radius: 15px;
            background-color: white;
            cursor: var(--select);
        }
    
        #more-btn:hover{
            background-color: hsl(0, 0%, 8%);
            color: hsl(0, 0%, 98%);
            border: none;
        }
    
        #sponsors{
            display: flex;
            height: 2.3rem;
            max-width:100%;  
            justify-content: space-between;
            gap: 5%;
            margin-top: auto;
        }
    
        #sponsors li{
           width: 100%;
           height: 100%;
           display: flex;
         
        }
    
        #sponsors li img{
            height: inherit;
            width: inherit;
        }
    
        #sponsors li:first-child img{
            padding-left: 0;
        }
    }
    
    
    @media (min-width:2000px) {
        #desktop-nav{
            height: 4.5rem;
        }
       #hero-page{
        height: 1440px;
        width: 90%;
       }
    
       .tab{
        font-size: 2.8rem;
       }
       .pop-out li a{
        font-size: 2.8rem;
       }
       .pop-out li img{
        height: 2.3rem;
        width: 2.3rem;
       }
       header{
        margin-top: 7rem;
        margin-bottom: 0;
       }
       header h1{
        font-size: 12rem;
        border: 2px solid grey;
    
       }
       header p{
        font-size: 2.8rem;
        margin: 1rem 0;
       }
    
       header #more-btn{
        font-size:  2.8rem;
       }
       #sponsors{
        height: 4.5rem;
       }
    }